<div lang="en">
<meta name="format-detection" content="date=no"><!-- there are no dates in this email to link to calendars, and verse refs are not times -->

<p>Hi,</p>
<p>Here is today's selection of verses from the Greek New Testament.</p>
<table>
  <tr>
    <th>Section</th>
    <th>Verse Content</th>
    <th>Ref</th>
    <th>Links</th>
  </tr>
  <% verses.each do |group_name, verse| %>
    <tr>
      <td>
        <%= group_name %>
      </td>
      <td lang="el" style='font-family: SBL BibLit, SBL Greek, Constantia, Cambria, serif; font-size: 12pt'>
        <%= verse.to_s %>
      </td>
      <td style="background:black; color:black">
        <%= verse.human_ref %>
      </td>
      <td>
        <a href="<%= verse.refly_url("sblgnt") %>">Greek</a>
        <a href="<%= verse.biblehub_url("text") %>">Parsed</a>
        <a href="<%= verse.biblehub_url("interlinear") %>">Interlinear</a>
        <a href="<%= verse.biblehub_url %>">English</a>
      </td>
    </tr>
  <% end %>
</table>

</div>
